.add-user-modal {
  width: 46.87% !important;
}

.add-user-modal .ant-modal-content{
  border-radius: 2em;
}

.add-user-modal > .ant-modal-content {
  background-color: grey;
}

#add-user-form {
  display: grid;
  place-items: center;
}

.add-user-form-item {
  width: 80%;
  margin-bottom: 0px !important;
  font-size: 16px !important;
  color: white;
}

.user-email-input {
  margin-top: 82px;
  border: 0px !important;
  border-radius: 9px;
}

#email-input {
  background: transparent;
  background-color: rgba(255, 255, 255, 0.09) !important;
  border: 2px;
}
.user-email-input label {
  font-family: var(--ff-primary);
  font-weight: bold;
  font-size: var(--form-label-font-size);
  color: var(--font-color-primary);
}

#add-user-modal-header-text {
  font-family: var(--ff-primary);
  font-weight: 600;
  font-size: 2rem;
  color: var(--font-color-primary);
}

#add-user-button {
  font-family: var(--ff-primary);
  font-weight: bold;
  color: var(--font-color-primary);
  margin-top: 2.5rem;
  background: transparent;
  border: 1px solid var(--font-color-primary);
}

#add-user-instructions-text {
  font-family: var(--ff-primary);
  color: var(--font-color-primary);
}
