.main {
  display: grid;
  /* place-items: center; */
  width: 100%;
  height: 100%;
  /* background: hsl(157, 100%, 45%); */
  grid-template-rows: auto 1fr auto;
  /* background: linear-gradient(to right top, #65dfc9, #6cdbeb); */
  background: var(--background-color);
  overflow: scroll
  
}

.login-content {
  display: grid;
  place-items: center;
  --login-reference-margin-unit: 16;
}

/* Login form header style */
#login-text-container {
  margin-top: calc((3.5 * var(--login-reference-margin-unit)) * 1px);
}

#login-text {
  /* font-size: clamp(1.5rem, 5vw, 2.625rem); */
  font-size: 2.625rem;
  font-family: var(--ff-primary);
  font-weight: 400;
}

/* Login form specifications(sizing, formatting, etc)*/
#login-form {
  /* background: linear-gradient(to right top, hsl(209, 100%, 8%), hsl(234, 100%, 8%)); */
  background: var(--form-background-color);
  color: var(--font-color-primary);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form-item-width {
  width: 80%;
}

.login-form-item {
  margin-bottom: 0px !important;
}

.login-form-item label {
  color: var(--font-color-primary) !important;
  font-family: "Muli";
  font-weight: bold;
  /* font-size: clamp(0.75rem, 1vw, 1.125rem) !important; */
  font-size: 1.125rem !important;
}

.login-form-item-spacing {
  margin-top: calc(
    (1.875 * var(--login-reference-margin-unit)) * 1px
  ) !important;
}

/* Setting styles for form input field */
.login-form-item .login-input {
  background-color: rgba(255, 255, 255, 0.5) !important;
  border: 0px !important;
  border-radius: 9px;
}

.login-input input {
  background-color: transparent;
}

.login-input {
  font-family: "Muli";
}

.first-name-input {
  margin-top: calc(
    (3.181 * var(--login-reference-margin-unit)) * 1px
  ) !important;
}

/* Form Row with forgot password and remember me checkbox */
#login-info-div {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.login-rememberme-checkbox {
  color: white;
  font-family: "Muli";
  /* font-size: clamp(0.75rem, 1vw, 1.125rem) !important; */
  font-size: 1.125rem !important;
}

#forgot-password-span {
  color: #ffe600c0;
  font-family: "Mulish";
  /* font-size: clamp(0.75rem, 1vw, 1.125rem); */
  font-size: 1.125rem;
}

/* Form row with login buttons */
#login-button-div {
  width: 100%;
  margin-top: calc((2.938 * var(--login-reference-margin-unit)) * 1px);
  margin-bottom: calc((3.725 * var(--login-reference-margin-unit)) * 1px);
  display: flex;
  justify-content: space-evenly;
}

#login-button-div > * {
  flex-basis: 30%;
}

.login-button {
  background-color: var(--button-color-primary);
  color: var(--font-color-secondary);
  height: auto;
}

.signup-button {
  background-color: var(--button-color-secondary);
  color: var(--font-color-primary);
  height: auto;
}

/* Media Queries */

/* Media query for  */
@media only screen and (max-width: 1100px) {
  /* html {
    font-size: 12px;
  } */

  /* #login-button-div {
    font-size: 10px;
  } */
}

@media only screen and (max-width: 800px) {
  html {
    /* font-size: 8px; */
  }
  /* .login-form-item {
    font-size: 10px !important;
  } */
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (max-width: 1200px) {
}

/* Large devices (desktops, 992px and up) */

@media screen and (max-width: 992px) {
  html {
    font-size: 14px;
  }

  .common-workarea {
    width: 60%;
  }
}

/* Medium devices (tablets, 768px and up) */

@media screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }
}

/* Small devices (landscape phones, 576px and up) */

@media screen and (max-width: 576px) {
  html {
    /* font-size: 10px; */
  }

  .common-workarea {
    width: 90%;
  }
}

@media screen and (max-width: 400px) {
  html {
    /* font-size: 8px !important; */
  }
}

@media screen and (max-height: 740px) {
  .login-content {
    --login-margin-reference-unit: 8;
  }
}

@media screen and (max-height: 600px) {
  .login-content {
    --login-margin-reference-unit: 6;
  }
}
