.user-content-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  min-height: 112px;
  gap: 1em;
}

.user-info-card {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  place-items: center;
  background: var(--users-card-color);
  border-radius: 1em;
  min-width: 400px;
  min-height: 100px;
  color: var(--font-color-primary);
  padding: 0 0.5em;
}

.user-avatar {
  width: 50px;
  height: 50px;
}

.user-info {
  font-family: var(--ff-primary);
  width: 100%;
  display: flex;
  word-break: break-all;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-actions {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.delete-button {
  border: 1px solid black;
  background: transparent;
}

.edit-button {
  border: 1px solid black;
  background: transparent;
}
