.user-content-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  min-height: 112px;
  gap: 1em;
}

.user-info-card {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  place-items: center;
  background: var(--users-card-color);
  min-width: 400px;
  min-height: 100px;
  color: var(--font-color-primary);
}

.user-avatar {
  width: 50px;
  height: 50px;
}

.user-info {
  font-family: "Muli";
}

.user-actions {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.delete-button {
  border: 0px;
}

.edit-button {
  border: 0px;
}
