.confirm-signup-code-container-div {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: space-evenly;
  width: 100%;
}

.ant-input-number-handler-wrap {
  display: none;
}
.confirm-signup-content {
  display: grid;
  place-items: center;
  height: 100%;
}

.confirm-signup-workarea {
  width: 40%;
  min-width: 350px;
}

#confirm-signup-form {
  background: var(--form-background-color);
  color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
  min-height: 400px;
}

#confirm-signup-form-title-span {
  color: var(--font-color-primary);
  font-family: var(--ff-primary);
  font-weight: bold;
  font-size: 26px;
  margin-top: 1rem;
}

.confirm-signup-submit-button {
  margin-bottom: 1rem;
}

.confirm-signup-code-inputnumber {
  width: 15%;
}

.ant-input-number,
.ant-input-number-input-wrap,
.ant-input-number-input-wrap input {
  width: 100% !important;
  min-height: 100px !important;
  background: transparent;
}

.ant-input-number-input {
  height: 100%;
  text-align: center;
  background: rgba(255, 255, 255, 0.5) !important;
}

.ant-input-number-input-wrap input {
  font-family: var(--ff-primary);
  color: var(--font-color-primary);
  font-weight: bold;
  font-size: 16px;
}
